.about-container img{
    height: 200px;
    width: 350px;
}

.about-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    line-height: 35px;
    background-color: whitesmoke;
}

.about-content h3,h4{
    text-decoration: underline;
    /* color: #FBBE00; */
}