.cart-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    transition: box-shadow 0.2s;
}

.cart-item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.clear-btn{
    background-color: black;
    padding: 5px 15px;
    color: white;
    margin-left: 185px;
    margin-bottom: 28px;
}

.Remove-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    height: 30px;
    margin: auto;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.cart-item-price {
    font-size: 14px;
    color: #666;
}